################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Astria/v16
/Astria/Debug
/Astria/x64
/Astria/Astria.aps
/Astria/Astria.vcxproj.user
/Astria/imgui.ini
/Debug
/x64
/Astria.sln
/.vs
/Astria/Images
*.obj
!Astria/Models/*.obj